/*Use CSS selectors to modify an element's look and feel*/
form#hit_form {
  float: left;
  margin-right: 10px
}

form#stay_form {
  float: left;
}

/*This grabs the class - 'card_image' part of img tag in main.rb*/
img.card_value {
  margin: 0px 5px 5px 0px;
}

